@import "~bootstrap/scss/bootstrap";
@import 'swiper/css';

:root {
  --black: #1d1e22;
  --white: #fff;
  --color-1: #1d1e22;
  --gutter: 2rem;
  /* this value is going to be changed by javascript */
  --replace-offset: 50%;
  --replace-offset-2: calc((100% - var(--replace-offset) ) * -1)
}

body {
    font: 14px 300 regular "mr-eaves-modern", sans-serif;
    background-color: #fff;
    color: #1d1e22;
    overflow-x: hidden !important;
    
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }

    .hidden {
      display: none;
    }

    .swiper-wrapper {
        height: 500px;
    }

    .grid-item-margin {
        margin-top: 26vw;
    }


// Flip and Slide Button Animation

.flip .textContainer {
  font-weight: 100;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 38px;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.3s;
  cursor: pointer;
}
.flip .textContainer .front,
.flip .textContainer .back {
  margin: 0;
  width: 140px;
  height: 38px;
  line-height: 38px;
  position: absolute;
  text-align: center;
}
.flip .textContainer .front {
  background-color: #fff;
  color: #222;
  transform: rotateY(0) translateZ(24px);
}
.flip .textContainer .back {
  background-color: #fff;
  color: #fff;
  transform: rotateX(90deg) translateZ(24px);
  overflow: hidden;
}
.flip .textContainer .back:after {
  content: '';
  position: absolute;
  top: -32%;
  left: -10%;
  width: 120%;
  height: 50%;
  background: #fff;
  transform: rotate(8deg);
  transition: all 0.5s ease;
  transition-delay: 0.15s;
}
.flip .textContainer:hover, .flip .textContainer:active {
  transform: translateZ(-24px) rotateX(-90deg);
}
.flip .textContainer:hover .front, .flip .textContainer:active .front  {
  background: #fff;
  transition: all 0.8s ease;
}
.flip .textContainer:hover .back, .flip .textContainer:active .back  {
  color: #fff;
  transition: color 0.4s linear;
  background: #000;
}
.flip .textContainer:hover .back:after, .flip .textContainer:hover .back:after {
  transform: rotate(6deg) translate(100px, -18px);
}

// Hamburger Animation

.hamburger-container.animateIn {
  animation:  2s linear slideIn forwards;
  svg {
    transform: rotate(45deg) translate(10px, 4px);
  }
  svg:nth-child(2) {
      transform: rotate(-45deg) translate(-2px, -11px);
  }
}

.hamburger-container.animateOut {
  animation:  .75s ease-in-out slideOut forwards;
  
  }


.circle {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
}

.circle.animateIn {
  background-color: #fff;
  border-radius: 25px;
  animation:  3s linear pulse forwards;
  svg {
    path {
      stroke: #1d1e22;
    }
  }
}

.slideInRight {
  left: -10px;
}
.slideInLeft {
  right: 10px;
}

.projectSiteLinkHoverOut {
animation: 450ms linear bounceOut forwards;
}

.projectSiteLinkHoverIn {
animation: 450ms linear bounceIn forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  40% {
    transform: translateX(calc(-22vw + 115px));
    opacity: 0;
  }

  45% {
    transform: translateX(calc(-25vw + 115px));
    opacity: .75;
  }
  50% {
    opacity: 1;
    transform: translateX(calc(-30vw + 115px));
  }
 
  60% {
    transform: translateX(calc(-30vw + 115px));
  }
  70% {
    transform: translateX(calc(-30vw + 115px));
  }
  80% {
    transform: translateX(calc(-30vw + 115px));
  }
  90% {
    transform: translateX(calc(-30vw + 115px));
  }

  100% {
   transform: translateX(calc(-30vw + 115px));
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(calc(-30vw +  115px));
  }
 
  100% {
    transform: translateX(0);
  }

}

@keyframes pulse {
  0% {
    transform: scale(1); 
  }
  25% {
    transform: scale(1); 
  }
  50% {
   
    transform: scale(.9);
  }
 
  60% {
    transform: scale(1); 
  }
  70% {
    transform: scale(.9); 
  }
  80% {
    transform: scale(1); 
  }
  90% {
    transform: scale(.9); 
  }

  100% {
   transform: scale(1);  
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1.2); 
  }
  25% {
    transform: scale(1.1); 
  }
  50% {
   
    transform: scale(1);
  }
 
  70% {
    transform: scale(.9); 
  }
  100% {
    transform: scale(1); 
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(1); 
  }
  25% {
    transform: scale(.9); 
  }
  50% {
   
    transform: scale(1);
  }
 
  70% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1.2); 
  }
}

/* align content above each other without absolute */
.js-replace {
  display: grid;
}

.js-replace__item {
  grid-row: -1 / 1;
  grid-column: -1 / 1; 
  overflow: hidden;
  will-change: transform;
}

/* item to replace with */
.js-replace__item {
  transform: translateY(calc(var(--replace-offset) * 1));  
}
.js-replace__content {
  /* fixes problem with calculating correct height in js */
  border: 1px solid transparent; 
  will-change: transform;

  transform: translateY(calc(var(--replace-offset) * -1));
}

/* previous replace item*/
.js-replace__item--active {
  transform: translateY(calc(var(--replace-offset-2) * 1));  
}
.js-replace__item--active .js-replace__content {
  transform: translateY(calc(var(--replace-offset-2) * -1));  
}


/* REVERSE ANIMATION */
.js-replace--reverse 
.js-replace__item {
  transform: translateY(calc(var(--replace-offset-2) * 1));  
}
.js-replace--reverse 
.js-replace__content {
  transform: translateY(calc(var(--replace-offset-2) * -1));
}

/* previous replace item*/
.js-replace--reverse 
.js-replace__item--active {
  transform: translateY(calc(var(--replace-offset) * 1));  
}
.js-replace--reverse 
.js-replace__item--active .js-replace__content {
  transform: translateY(calc(var(--replace-offset) * -1));
}

}
