@import "~bootstrap/scss/bootstrap";
@import "~pure-react-carousel/dist/react-carousel.es.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
    font: 14px 300 regular "mr-eaves-modern", sans-serif;
    background-color: #fff;
    color: #1d1e22;
    overflow-x: hidden;
    li {
        list-style: none;
    }
   
}