@import "~bootstrap/scss/bootstrap";
@import "swiper/css/bundle";

body {
    font: 14px 300 regular "mr-eaves-modern", sans-serif;
    background-color: #fff;
    color: #1d1e22;
    overflow-x: hidden;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }

    .swiper-wrapper {
        height: 500px;
    }

   .grid-sizer,
    .grid-item {
    width: 20%;
    }
    /* 2 columns wide */
    .grid-item--width2 {
        width: 40%;
    }

    .grid-item--width3 {
        width: 60%;
    }

   
}