@import "~bootstrap/scss/bootstrap";

body {
    font: 14px 300 regular "mr-eaves-modern", sans-serif;
    background-color: #fff;
    color: #1d1e22;
    overflow-x: hidden;
    li {
        list-style: none;
    }
}