$extraSmall: 458px;
$small: 576px;
$medium: 768px;
$large: 996px;
$extra-large: 1200px;
$large-desktop: 1400px;

$smallNum: 576;
$mediumNum: 768;
$largeNum: 996;
$extra-largeNum: 1200;
$large-desktopNum: 1400;
:export {
    extraSmall: $extraSmall;
    small: $small;
    medium: $medium;
    large: $large;
    extraLarge: $extra-large;
    largeDesktop: $large-desktop;
    smallNum: $smallNum;
    mediumNum: $mediumNum;
    largeNum: $largeNum;
    extraLargeNum: $extra-largeNum;
    largeDesktopNum: $large-desktopNum;
}
